body {
    background-color: SaddleBrown;
    color: White;
}

.main-stats {
    border-color: Gold;
    box-shadow: 0 0 8px Gold;
    background-color: Maroon;
}

    .main-stats td, .main-stats td {
        border-color: LightGray;
    }


.item-stats, .item-stats tr, .item-stats td {
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.2rem;
    margin: 0;
}

.btn-primary {
    color: white;
    background-color: Purple;
    border: 2px solid DarkGoldenRod;
}

    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle,
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: Pink;
        background-color: MediumPurple;
        border: 2px solid Gold;
        box-shadow: 0 0 6px White;
        text-shadow: 0 0 3px DeepPink;
    }

.btn-secondary {
    color: white;
    background-color: Maroon;
    border: 2px solid GoldenRod;
}

    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle,
    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
        color: Cyan;
        background-color: MediumVioletRed;
        border: 2px solid Gold;
        box-shadow: 0 0 6px White;
    }

.cross, .triangle, .circle, .double-circle {
    color: transparent;
    font-size: 26px;
}

.stat, .mod-up, .mod-down {
    display: inline-block;
}

td.mod-up, td.mod-down {
    color: gold;
    text-shadow: 0 0 3px white;
    font-size: 26px;
}

.mod-up {
    transform: rotate(-90deg);
}

.mod-down {
    transform: rotate(90deg);
}

.cross {
    text-shadow: 0 0 0 DeepSkyBlue, 0 0 3px white;
}

.triangle {
    text-shadow: 0 0 0 Aquamarine, 0 0 3px white;
}

.circle {
    text-shadow: 0 0 0 LightSalmon, 0 0 3px white;
}

.double-circle {
    text-shadow: 0 0 0 Violet, 0 0 3px white;
}
